<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./gaya.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengisian Formulir Anggota</title>
</head>
<body>

    <!-- Formulir -->
    <div class="formulir">
    <h3>Silahkan Isi data diri:</h3>

    <form action="/create" method="post">
        <input name="nama" type="text" placeholder="Nama"><br>
        <br>
        <input name="kelas" type="text" placeholder="Kelas"><br>
        <br>
        <input type="submit" value="add" class="kirim">
    </form>
    </div>
</body>
</html>